<!-- Dark mode theme: black -->
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0e4359">
<!-- Light mode theme & no preference: yellow -->
<meta name="theme-color" content="#ffbe0a">
<link rel="stylesheet" href="{{ '/css/main.css' | url }}">
<meta name="author" content="Raz Tirboaca">
<meta name="description" content="{{ description or meta.description }}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="">