a {
    --color: var(--action-color);
    --border-color: var(--action-color-accent);
    --hover-color: var(--color);

    color: var(--color);
    text-decoration-color: var(--border-color);
    text-decoration-thickness: .08em;
    text-underline-offset: 2px;
}
    
a:hover {
    color: var(--hover-color);
    text-decoration-color: var(--hover-color);
}

a.decoration-none {
    text-decoration: none;
}

a:not([href]):not([class]) {
    --color: inherit;
}