body {
    width: 100%;
    min-width: 320px;
    max-width: 100%;
    @include font-scale(text-body);
    color: var(--text-primary);
    font-family: var(--font-family-base);
    text-align: left;
    text-rendering: optimizeLegibility;
    background: var(--surface-bg);
}
