<!--meta name=color-scheme content="light dark"-->
<meta name="theme-color" content="#292b2e" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#F2F2F2">
<meta name="author" content="Raz Tirboaca">
<meta name="description" content="{{ description or site.description }}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="">
