<meta name="theme-color" content="#152528" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#D7E7EA">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
<meta name="author" content="Raz Tirboaca">
<meta name="description" content="{{ description or site.description }}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="">