@use "sass:math";

// Spacing

$spacer:                rem(8px);
$spacers: (
    space-none:         0,
    space-xtiny:        math.div($spacer, 2),
    space-tiny:         $spacer,
    space-small:        $spacer * 2,
    space-medium:       $spacer * 3,
    space-large:        $spacer * 4,
    space-huge:         $spacer * 5,
    space-giant:        $spacer * 8
);

// Breakpoints

$grid-breakpoints: (
    mobile:     0,
    tablet:     700px,
    laptop:     900px,
    desktop:    1200px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Layout

$layout: (
    container-max-width:  rem(1216px),
    container-margin-x:  var(--space-huge)
);

// Grid

$row-cols:      12;
$grid-cols:     4;
$gap-default:   none; // use spacer token

$gaps: $spacers;

// Typography

$font-weight-light:     300;
$font-weight-regular:   400;
$font-weight-medium:    500;
$font-weight-semibold:  600;
$font-weight-bold:      700;
$font-weight-black:     800;

$font-size-root:        null;
$font-family-base:      -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$font-family-base-v:    'Rubik', -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;

$headings-font-family:  -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$headings-font-family-v: 'Rubik', -apple-system, blinkmacsystemfont, avenir next, avenir, segoe ui, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$headings-font-style:   normal;

$font-family-quote:     'PT Serif', serif;
$font-family-code:      menlo, consolas, monaco, liberation mono, lucida console, monospace;
$code-font-size:        1em;

// Typo tokens
$font-scale: (
    text-small: (
        null: (
            font-size:      16,
            line-height:    24
        )
    ),
    text-body: (
        null: (
            font-size:      18,
            line-height:    30,
            font-weight:    $font-weight-light
        ),
        tablet: (
            font-size:      20,
            line-height:    32
        )
    ),
    text-lead: (
        null: (
            font-size:      24,
            line-height:    36,
            font-weight:    $font-weight-light
        ),
        tablet: (
            font-size:      28,
            line-height:    40
        )
    ),
    text-quote: (
        null: (
            font-size:      20,
            line-height:    28
        ),
        tablet: (
            font-size:      22,
            line-height:    32
        )
    ),
    heading-small: (
        null: (
            font-size:      20,
            line-height:    24,
            font-weight:    $font-weight-medium
        )
    ),
    heading-medium: (
        null: (
            font-size:      24,
            line-height:    28,
            font-weight:    $font-weight-medium
        ),
        tablet: (
            font-size:      28,
            line-height:    32
        )
    ),
    heading-large: (
        null: (
            font-size:      40,
            line-height:    40,
            font-weight:    $font-weight-medium
        ),
        tablet: (
            font-size:      40,
            line-height:    48
        )
    ),
    display-small: (
        null: (
            font-size:      40,
            line-height:    44,
            font-weight:    $font-weight-medium
        ),
        tablet: (
            font-size:      56,
            line-height:    60
        )
    ),
    display-medium: (
        null: (
            font-size:      56,
            line-height:    56,
            font-weight:    $font-weight-medium
        ),
        tablet: (
            font-size:      80,
            line-height:    80
        )
    ),
    display-large: (
        null: (
            font-size:      72,
            line-height:    72,
            font-weight:    $font-weight-black
        ),
        tablet: (
            font-size:      112,
            line-height:    104
        )
    ),
    display-xlarge: (
        null: (
            font-size:      112,
            line-height:    96,
            font-weight:    $font-weight-black
        ),
        tablet: (
            font-size:      160,
            line-height:    136
        )
    )
);

// Theme tokens

$theme-light: (
    color-primary:                  #D7E7EA,
    color-secondary:                #233E43,
    color-tertiary:                 #FFD23F,
    color-accent:                   #c03e2a,
    body-bg:                        var(--color-primary),
    highlight-bg:                   #CBEF43,
    text-primary:                   var(--color-secondary),
    text-primary-inverted:          var(--color-primary),
    text-secondary:                 var(--color-secondary),
    text-tertiary:                  var(--color-tertiary),
    text-accent:                    var(--color-accent),
    action-color:                   var(--text-accent),
    action-color-accent:            var(--action-color),
    action-surface-color:           var(--text-primary-inverted),
    action-surface-bg:              var(--color-accent),
    surface-bg:                     hsla(0, 0%, 100%, .72),
    surface-shadow-color:           '0, 0%, 16%',
    surface-shadow-small:           '1px 1px 1px hsla(var(--surface-shadow-color), .12)',
    surface-shadow-medium:          '1px 1px 1px hsla(var(--surface-shadow-color), .12), 2px 3px 3px hsla(var(--surface-shadow-color), .1), 3px 6px 6px hsla(var(--surface-shadow-color), .04)',
    navbar-bg:                      var(--body-bg),
    navbar-border-color:            hsla(237, 42%, 37%, var(--opacity-watermark)),
    opacity-subtle:                 .64,
    opacity-muted:                  .24,
    opacity-watermark:              .08,
);

$theme-dark: (
    color-primary:                  #152528,
    color-secondary:                #c9dfe3,
    color-tertiary:                 #ffbe0a,
    color-accent:                   #FFD23F,
    body-bg:                        var(--color-primary),
    highlight-bg:                   hsl(83, 52%, 18%),
    text-primary:                   var(--color-secondary),
    text-primary-inverted:          var(--color-primary),
    text-secondary:                 var(--color-secondary),
    text-tertiary:                  var(--color-tertiary),
    text-accent:                    var(--color-accent),
    action-color:                   var(--text-accent),
    action-color-accent:            var(--action-color),
    action-surface-color:           var(--text-primary-inverted),
    action-surface-bg:              var(--color-accent),
    surface-bg:                     hsla(0, 0%, 100%, .72),
    surface-shadow-color:           '265, 100%, 52%',
    surface-shadow-small:           0,
    surface-shadow-medium:          0,
    navbar-bg:                      var(--body-bg),
    navbar-border-color:            hsla(189, 32%, 70%, var(--opacity-watermark)),
    opacity-subtle:                 .48,
    opacity-muted:                  .16,
    opacity-watermark:              .06,
);

// Border radius

$border-radius: (
    surface-radius-small:    rem(3px),
    surface-radius-medium:   rem(12px),
    surface-radius-large:    rem(32px)
);

// Utilities

$enable-important-utilities:    false;

$utilities: ();

$utilities: map-merge(
    (
        "display": (
            responsive: true,
            print: true,
            property: display,
            class: d,
            values: flex inline-flex block inline none
        ),
        "flex": (
            responsive: true,
            property: flex,
            values: (fill: 1 1 auto)
        ),
        "flex-direction": (
            responsive: true,
            property: flex-direction,
            class: flex,
            values: row column row-reverse column-reverse
        ),
        "flex-grow": (
            responsive: true,
            property: flex-grow,
            class: flex,
            values: (
                grow-0: 0,
                grow-1: 1,
            )
        ),
        "flex-shrink": (
            responsive: true,
            property: flex-shrink,
            class: flex,
            values: (
                shrink-0: 0,
                shrink-1: 1,
            )
        ),
        "flex-wrap": (
            responsive: true,
            property: flex-wrap,
            class: flex,
            values: wrap nowrap wrap-reverse
        ),
        "justify-content": (
            responsive: true,
            property: justify-content,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                between: space-between,
                around: space-around,
                evenly: space-evenly,
            )
        ),
        "align-items": (
            responsive: true,
            property: align-items,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                baseline: baseline,
                stretch: stretch,
            )
        ),
        "align-content": (
            responsive: true,
            property: align-content,
            values: (
                start: flex-start,
                end: flex-end,
                center: center,
                between: space-between,
                around: space-around,
                stretch: stretch,
            )
        ),
        "align-self": (
            responsive: true,
            property: align-self,
            values: (
                auto: auto,
                start: start,
                end: end,
                center: center,
                baseline: baseline,
                stretch: stretch,
            )
        ),
        "order": (
            responsive: true,
            property: order,
            values: (
                first: -1,
                initial: 0,
                1: 1,
                2: 2,
                3: 3,
                4: 4,
                5: 5,
                last: 6,
            ),
        ),
        "text-align": (
            responsive: true,
            property: text-align,
            class: text,
            values: left center right
        ),
        "text-transform": (
            property: text-transform,
            class: text,
            values: lowercase uppercase capitalize
        ),
        "visibility": (
            property: visibility,
            class: null,
            values: (
                visible: visible,
                invisible: hidden,
            )
        ),
        "margin": (
            responsive: true,
            property: margin,
            class: m,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-x": (
            responsive: true,
            property: margin-right margin-left,
            class: mx,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-y": (
            responsive: true,
            property: margin-top margin-bottom,
            class: my,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-top": (
            responsive: true,
            property: margin-top,
            class: mt,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-right": (
            responsive: true,
            property: margin-right,
            class: mr,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-bottom": (
            responsive: true,
            property: margin-bottom,
            class: mb,
            values: map-merge($spacers, (auto: auto))
        ),
        "margin-left": (
            responsive: true,
            property: margin-left,
            class: ml,
            values: map-merge($spacers, (auto: auto))
        ),
    ),
    $utilities
);
