.hero {

    padding: var(--padding-y) var(--padding-x);
    background-color: var(--color-accent);

    @include media-breakpoint-down(tablet) {
        --container-margin-x: var(--space-tiny);
        --padding-y: var(--space-huge);
        --padding-x: var(--space-medium);
    }

    @include media-breakpoint-up(tablet) {
        --padding-y: var(--space-giant);
        --padding-x: var(--space-huge);
    }

    @include media-breakpoint-up(laptop) {
        --padding-x: 0;
    }
}

.hero-title {
    transform-origin: center;
    animation: animate-enter .6s cubic-bezier(.12,.74,.79,.94) .4s backwards;
    will-change: transform;
}

.hero-description {
    transform-origin: center;
    animation: animate-fade .6s cubic-bezier(.12,.74,.79,.94) .8s backwards;
    will-change: transform
}

.hero-author {
    transform-origin: center;
    animation: animate-fade .6s cubic-bezier(.12,.74,.79,.94) .8s backwards;
    will-change: transform
}

.hero-tweet {
    transform-origin: center;
    animation: animate-fade .3s cubic-bezier(.12,.74,.79,.94) 2.4s backwards;
    will-change: transform
}


@keyframes animate-fade {
    0% {
        opacity: 0;
        filter: brightness(-2);
    }
    100% {
        opacity: 1;
        filter: brightness(1);
    }
}
@keyframes animate-enter {
    0% {
        opacity: 0;
        transform: translate3d(0, -1.5rem, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}