.navbar {
    background-color: var(--navbar-bg);
    user-select: none;

    @include media-breakpoint-down(laptop) {

        .navbar-state:checked ~ & {
            background-color: var(--navbar-bg-open);
        }
    }
}

.navbar-state {
    display: none;
}

.navbar-content {
    --padding-y: var(--space-small);
    
    @extend %container;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);

    &::after {
        content: '';
        display: block;
        height: 3px;
        background: var(--text-primary);
        opacity: var(--opacity-watermark);

        .navbar-state:checked ~ .navbar & {
            display: none;
        }
    }
}

.navbar-header {
    --padding-y: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: calc(#{var(--space-small)} * -1);
    margin-right: calc(#{var(--space-small)} * -1);
    list-style: none;

    @include media-breakpoint-up(laptop) {
        display: none;
    }
}

.navbar-logo {
    --color: var(--text-primary);

    text-decoration: none;

    .logo {
        width: auto;
        height: rem(26px);
    }
}

.navbar-nav {
    @include media-breakpoint-down(laptop) {
        --padding-y: var(--space-huge);
        --padding-x: 0;
        --gap: var(--space-medium);

        display: none;
        padding: var(--padding-y) var(--padding-x);

        .navbar-state:checked ~ .navbar & {
            display: flex;
        }
    }

    @include media-breakpoint-up(laptop) {
        --gap: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.navbar-nav .nav-link {
    
    @include media-breakpoint-down(laptop) {

        display: flex;
        justify-content: center;
    }
    
    @include media-breakpoint-up(laptop) {
        --padding-x: var(--space-small);
    }
}