.nav {
    --gap-y: 0;
    --gap-x: 0;
    --padding-y: 0;

    display: flex;
    flex-direction: column;
    row-gap: var(--gap-y);
    column-gap: var(--gap-x);
    list-style: none;
    font-family: var(--font-family-headings);
    @supports (font-variation-settings: normal) {
        font-family: var(--font-family-headings-v);
    }
    @include font-scale(text-small);
}

.nav-link {
    --padding-y: var(--space-tiny);
    --padding-x: 0;
    --opacity: 1;
    --hover-opacity: 1;
    --selected-color: var(--text-accent);
    --selected-bg: none;
    --selected-opacity: 1;

    display: inline-flex;
    align-items: center;
    padding: var(--padding-y) var(--padding-x);
    text-decoration: none;
    cursor: pointer;
    opacity: var(--opacity);

    &:hover,
    &:focus {
        opacity: var(--hover-opacity);
    }

    &.selected {
        color: var(--selected-color);
        background-color: var(--selected-bg);
        opacity: var(--selected-opacity);
    }

    &.disabled {
        opacity: var(--opacity-muted);
        cursor: not-allowed;
        pointer-events: none;
    }
}

.nav-title {
    --padding-y: var(--space-tiny);
    --padding-x: 0;

    padding: var(--padding-y) var(--padding-x);
    @include font-scale(text-small);
}

.nav-fill {

    .nav-item {
        flex: 1 1 auto;
    }

    .nav-link {
        justify-content: center;
        text-align: center;
    }
}

.nav-justified {
    align-items: flex-end;

    .nav-item {
        flex-basis: 0;
        flex-grow: 1;
    }

    .nav-link {
        justify-content: center;
        text-align: center;
    }
}

.nav-chapters {
    flex-direction: row;
    flex-wrap: wrap;

    li {
        flex: 1 1 rem(160px);
    }

    @include media-breakpoint-down(laptop) {
        display: none;

        #chaptersState:checked ~ & {
            display: flex;
        }
    }

    .nav-link {
        --padding-x: var(--space-small);
        --selected-color: var(--color-primary);
        --selected-bg: var(--color-accent);

        display: flex;
        flex-direction: column;
        align-items: start;

        &.selected {

            border-radius: var(--surface-radius-small);
        }
    }
}
