.nav {
    --gap: 0;
    --padding-y: 0;

    display: flex;
    flex-direction: column;
    gap: var(--gap);
    list-style: none;
}

.nav-link {
    --padding-y: var(--space-tiny);
    --padding-x: 0;
    --color: var(--text-primary);
    --opacity: var(--opacity-subtle);
    --hover-color: var(--color);
    --hover-opacity: 1;
    --selected-color: var(--text-accent);
    --selected-bg: none;
    --selected-opacity: 1;

    display: inline-flex;
    align-items: center;
    padding: var(--padding-y) var(--padding-x);
    font-family: var(--font-family-headings);
    @supports (font-variation-settings: normal) {
        font-family: var(--font-family-headings-v);
    }
    @include font-scale(text-small);
    font-weight: $font-weight-medium;
    color: var(--color);
    border-radius: var(--surface-radius-small);
    text-decoration: none;
    cursor: pointer;
    opacity: var(--opacity);

    &:hover,
    &:focus {
        --color: var(--hover-color);
        opacity: var(--hover-opacity);
    }

    &.selected {
        --color: var(--selected-color);
        background-color: var(--selected-bg);
        opacity: var(--selected-opacity);
    }

    &.disabled {
        opacity: var(--opacity-muted);
        cursor: not-allowed;
        pointer-events: none;
    }
}

.nav-fill {

    .nav-item {
        flex: 1 1 auto;
    }

    .nav-link {
        justify-content: center;
        text-align: center;
    }
}

.nav-justified {
    align-items: flex-end;

    .nav-item {
        flex-basis: 0;
        flex-grow: 1;
    }

    .nav-link {
        justify-content: center;
        text-align: center;
    }
}
