body {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.galaxy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &::before,
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
    }

    &::before {
        width: min(rem(240px), 60vw);
        background: var(--color-secondary);
        transform: translate3d(-66%, -66%, 0);
        opacity: var(--opacity-watermark);
    }

    &::after {
        width: min(rem(32px), 60vw);
        border: 1.5px solid var(--color-tertiary);
        transform: translate3d(100%, 100%, 0);
    }
}