---
layout: page
title: Design Operations glossary
date: 2022-01-09
navbarTitle: Glossary
tags: navbar
order: 4
permalink: /glossary/
---
<section class="container page-grid my-space-giant">
    <div class="display-large text-uppercase watermark mb-space-giant" style="grid-column: 3 / 13; user-select: none;">Glossary</div>
</section>