body {
    --font-family: var(--font-family-base);
    @supports (font-variation-settings: normal) {
        --font-family: var(--font-family-base-v);
    }

    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 320px;
    max-width: 100%;
    @include font-scale(text-body);
    color: var(--text-subtle);
    font-weight: $font-weight-base;
    font-family: var(--font-family);
    text-align: left;
    text-rendering: optimizeLegibility;
    background: var(--bg-primary);
    background-attachment: fixed;
}
