:focus,
:focus-visible {
    outline: 0 !important;
}

:focus-visible {
    --focus-box-shadow: 0 0 0 3px var(--color-neutral-end), 0 0 0 4px var(--color-neutral-lightest);

    border-radius: 2px;
    box-shadow: var(--focus-box-shadow);
}