// Grid

// Create .grid object
.grid {
    @include make-grid();
}

// Create .cols-* template column
@include make-grid-columns();

// Create .row object
//.row {
//    @include make-row();
//
//    > * {
//        @include make-row-col-ready();
//    }
//}

// Create .row > .col-* children
//@include make-row-columns();

.page-grid {
    @include media-breakpoint-up(laptop) {
        --gap-x: var(--space-large);

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 0 var(--gap-x);
    }
}
