// Make color utility classes

.color-inherit {
    color: inherit;
}

// Opacity
.subtle {
    opacity: var(--opacity-subtle);
}
.muted {
    opacity: var(--opacity-muted);
}
.watermark {
    opacity: var(--opacity-watermark);
}
